@charset "UTF-8";

h1{
	color: rgb(131, 7, 148);
	text-align: center;
}

h2{
	color: rgba(161, 16, 16, 0.836);
}

body{
	background-image: linear-gradient(225deg, rgba(206, 43, 43, 0.856), rgb(26, 26, 117));
	background-attachment: fixed;
}

main{

	background-color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	/* border-radius é oque define o quão redonda são as bordas */
	text-align: justify;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.774);
	width: 45em;
	 /* width é largura, enquanto length é comprimento, mas se preenche sozinho dependendo de quantas letras tem */
	padding: 5px;
	 /* padding é preenchimento dos cantos */
	margin: auto;
	 /* margin é posição automaticamente centralizada independentemente do tamanho de tela */
	border: 10px;
}

#a1{
	width: 150px;
	color: rgb(65, 17, 80);
	background-color: white;
	border-radius: 5px;
	padding: 2px;
}

span{
	background-color: white ;
	text-align: center;
	padding: 2px;
}