@charset "UTF-8";
*{margin: 0px; padding: 0px;}

h1{
	padding: 50px;
}

table{
	border-collapse: separate;

}

td{
	border-collapse: collapse;
	border: 1px solid black;
	padding: 15px 60px;
	text-align: center;

}

div{
	/* overflow-x adicionar uma rolagem lateral apenas na div e não no site inteiro */
	overflow-x: auto;
}

