@charset "UTF-8";

@font-face {
	font-family: Cordel;
	src: url(assets/fontes/Baby\ Girly.otf);
}

@font-face {
	font-family: Parágrafos;
	src: url(assets/fontes/Candy\ Beans.otf);
}

* {
	color: black;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: 100vh;
}

body{
	height: 100vh;
	background: white url(assets/imagens/background001.jpg) right center no-repeat fixed;
	background-size: cover;
}

.cabeçalho{
	background-color: black;
	font-family: Cordel, serif;
	text-align: center;
}


.cabeçalho > h1{
	font-size: 19vh;
	padding-top: 50px;
	padding-bottom: 10px;
	font-weight: 100;
	word-spacing: 6px;
	color: white;
}

.cabeçalho > p{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

.cabeçalho > p > a:hover{

}

#site{
	text-decoration: none;
	color: white;
	font-weight: bolder;
}

#site:hover{
	transition-duration: 0.5s;
	background-color: rgba(255, 255, 255, 0.322);
	border-radius: 15px;
	padding: 0px 4px;
	text-decoration: underline;
}

section{
	font-size: 2em;
	font-family: Parágrafos, sans-serif;
	padding: 10vh 0px;
	line-height: 40px;
	padding-left: 20px;
	font-weight: 100;
	font-style: italic;
}

section > p{
	font-weight: lighter;
	line-height: 2em;
}

.imagem{
	background-color: rgb(24, 39, 39);
}

.imagem > p{
	color: white;
	background-color: rgba(0, 0, 0, 0.342);
	min-width: 100px;
	max-width: 500px;
	padding: 5px 15px;
	text-shadow: 2px 3px 1px black;
}

.normal{
	background-color: white;
}

#img1{
	background-image: url(assets/imagens/background001.jpg);
	background-position: center right;
	box-shadow: inset 0px 3px 10px 1px black;
	background-attachment: fixed;
	background-size: cover;
}

#img2{
	background-image: url(assets/imagens/background002.jpg);
	background-position: center;
	box-shadow: inset 0px 3px 10px 1px black;
	background-attachment: fixed;
	background-size: 100%;
}

footer{
	padding: 5px;
	background-color: black;
	text-align: center;
	font-weight: bolder;
}

footer > span{
	color: white;
}

