@charset "UTF-8";

*{ margin: 0px; padding: 0px; }

@font-face {
	font-family: comic;
	src: url(../fontes/Hey\ Comic.otf);
}

body{
	background: black no-repeat fixed url(../imagens/background002.jpg);
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: white;
}

header > h1{
	font-variant: small-caps;
	font-family: comic, sans-serif;
	font-weight: normal;
	text-align: center;
}

a#contato{
	position: absolute;
	right: 0px;
}

main{
	background-color: white;
}

